
/* About Heading*/
.aboutMe {
    margin: 50px 0px 0px 0px;
}


/*about me paragraph*/
.text-center {
    padding: 30px 0;
}


/*Footer*/

.icon {
    height: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
