

body {
  background-image: url("background.jpg");
  font-family: 'IBM Plex Serif', serif;
}

/* Container on about me & portfolio page*/
.container {
    border: 10px solid white;
    background-color: white;
    margin-top: 5rem;
    padding-bottom: 50px;
}
    

/* About & Portfolio Heading*/
.aboutMe {
    margin: 20px 0px 0px 0px;
}


/*about me paragraph*/
.text-center {  
    margin: 0;
    padding: 55px 0;
    text-align: center;
}

/*centered the text in my portfolio cards*/
.card-body {
    text-align: center;
}

#card-body {
    padding-left: 20px;
}
 


/*Footer*/
.icon {
    height: 50px;
    float: right;
    padding-right: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/*Media Query for contact form*/
@media screen and (max-width: 600px) {
.my-5 a {
    float: none;
    width: 100%;
}}